html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--el-highlight);
  color: var(--tx-main);
  font-size: 16px;
  font-family: Lato;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--tx-main);
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-1 {
  grid-gap: 0.25rem;
  gap: 0.25rem;
}

.gap-4 {
  grid-gap: 1rem;
  gap: 1rem;
}

.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}

.items-center {
  align-items: center;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}
.shadow-md {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 15px 25px -4px;
}

.outer-card {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  max-width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--hp-success); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    var(--hp-success)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0575e6,
    var(--hp-success)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button {
  display: inline-block;
  border: 0;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0 0.5rem 0.5rem 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--hp-pop);
  text-align: center;
  position: relative;
}

@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 0.4em auto;
  }
}
